@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar */
html {
  scrollbar-color: rgb(77 124 15) rgb(23 23 23);
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-thumb {
  background: rgb(77 124 15);
}

html::-webkit-scrollbar-thumb:hover {
  background: rgb(63 98 18);
}

html::-webkit-scrollbar-track {
  background: rgb(23 23 23);
}
