@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar */
html {
  scrollbar-color: #475569 transparent;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-thumb {
  background: #475569;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

/* firefox slider */
input[type='range']::-moz-range-thumb {
  border-radius: 2px;
  height: 14px;
  background: #475569;
}

input[type='range']::-moz-range-progress {
  height: 8px;
  background: #475569;
}
